.navI.active{
    color : white !important;
    background-color : rgba($color: rgb(26, 24, 24), $alpha: .8) !important;
}
.navI{
    position: relative;
    font :{
        size: 20px;
        weight : bold;
    }
    color: rgba($color: white, $alpha: .7) !important;
    transition: .8s;
    &:hover{
    color: rgba($color: white, $alpha: 1);
    }
    border: 1px solid !important;
    margin: 2px;
    background-color: rgba(black, .6) !important;
}

.navI span{
    position: absolute;
    right: 20px;
    color: black;
    width: 30px;
    height: 30px;
    background-color: rgba(226, 114, 8, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}