body {
  background-size: cover !important;
  font-family: "Oswald", sans-serif;
}

.themeI {
  position: relative;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}
